body {
    background-color: black;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 80%;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FaF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    flex-grow: 1;
    width: 80%;
}

.hero-secondary, .hero-image {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.top {
    display: flex;
}

.bottom {
    display: flex;
    
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
}

.hero-image {
    width: 800px;
    height: 600px;

}

.hero-text {
    font-size: 48px;
    font-weight: 1000;

}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 12px
}

img {
    font-family: "roboto", sans-serif;
}

.information {
    background-color: white;
    display: flex;
    flex-grow: 1;
    width: 80%;
}

.information-image {
    width: 300px;
    height: 300px;
}

.quote {
    background-color: #E5E7EB;
    flex-grow: 1;
    width: 80%;
}

.footer {
    background-color: #1F2937;
    color: white;
    flex-grow: 1;
    width: 80%;
}

.middle-bar {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    align-items: center;
    
}